.features {
  display: flex;
}

.features__item {
  margin-right: 1.833rem;

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: 1.944rem;
  margin-right: 0.786rem;
}

.feature__text {
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(18px);
  max-width: 5rem;
}

.feature {
  display: flex;
  margin-bottom: 3.667rem;
  margin-top: 4.722rem;
}