.hamburger {
  width: 1.444rem;
  height: 1.444rem;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
    margin-right: 2.389rem;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 0.222rem;
  border-radius: 0.7rem;
}