.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.278rem;

  &--active {
    .fixed-menu__link {
      border-color: $white;
    }
  }
}

.fixed-menu__link {
  width: 0.889rem;
  height: 0.889rem;
  border-radius: 50%;
  border: 0.056rem solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 0.333rem;
    height: 0.333rem;
    border-radius: 50%;
    background: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}