.product__container {
	display: inline-flex;
	justify-content: space-between;

	@include tablets {
		display: flex;
		flex-direction: column;
		height: 45.333rem;
	}
}

.products-slider {
	position: relative;
	padding: rem(52px) rem(60.5px);
	width: 61.111rem;
	height: 35.667rem;
	overflow: hidden;

	.bx-wrappper {
		border: 0;
		background: transparent;
		box-shadow: none;
	}
}

.product-slider__arrow {
	display: block;
	width: rem(13px);
	height: rem(28px);
	position: absolute;
	top: 50%;
	transform: translateV(50%);
	z-index: 10;

	&--direction--next {
		right: 0;
	}

	&--direction--prev {
		left: 0;
		transform: rotate(-180deg);
	}
}

.products-slider__icon {
	width: rem(5px);
	height: rem(27px);
}

.products-slider {
  background: #F8FAF9;
  display: flex;
}

.bx-wrapper {
  max-width: 100%;
}

.bx-viewport {
  width: 100%; 
  overflow: hidden; 
  position: relative; 
  height: rem(501px);
}

.board__title {
  font-weight: 700;
  font-size: rem(36px);
  line-height: rem(43px);
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 1.333rem;
}

.board__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #666;
	margin-bottom: 1.333rem;
}

.product__col {
	display: inline-flex;
	flex-direction: column;
	width: 45%;
}

.product__image-elem {
  width: rem(150px);
  height: rem(535px);
  transform: rotate(30deg);
}

.products__item {
	display: inline-flex;
    width: 85vw;
}

.pop-up {
	display: inline-flex;
	background:#3A587E;
	border-radius: rem(4px);
	width: rem(91px);
	height: rem(91px);
	flex-direction: column;
}

.pop-up:hover .dropdown-text {
	filter: blur(20px);
}

.board-features__icon-elem {
	margin: rem(17px) rem(26px) rem(7px) rem(27px);
}

.board-features {
	text-transform: uppercase;
	font-weight: 700;
	font-size: rem(14.0121px);
	line-height: rem(17px);
	color: #FFFFFF;
	display: flex;
	justify-content: center;
}

.products {
	display: inline-flex;
}

.desc {
	display: flex;
	flex-direction: column;
}

.dropdown {
	display: inline-flex;
	position: relative;
	width: 5.056rem;
	height: 5.056rem;
	margin-bottom: 2.889rem;
}
.dropdown:hover .dropdown-text {
	display: block;
}

.dropdown__link {
	width: rem(91px);
	height: rem(91px);	
}

.dropdown-text {
	min-width: rem(273px);
	min-height: rem(291px);
	box-shadow: rem(4px) rem(4px) rem(40px) rgba(0, 0, 0, 0.06);
	background-color:rgba(255, 255, 255, 0.8);
	border-radius: rem(4px);
	display: none;
	position: absolute;
	mix-blend-mode: normal;
	left: 5.056rem;
	

}

.table-column__name {
	font-weight: 500;
	font-size: rem(16px);
	line-height: rem(24px);
	display: flex;
	align-items: center;
	color: #000000;
	margin-bottom: 1.556rem;
}
.table-column__name:last-child {
	margin-bottom: 0;
}

.table-column__number {
	font-weight: 400;
	font-size: rem(16px);
	line-height: rem(24px);
	display: flex;
	align-items: center;
	color: #000000;
	margin-bottom: 1.556rem;
}
.table-column__number:last-child {
	margin-bottom: 0;
}

.td-meaning {
	display: inline-flex;
	align-items: center;
	text-align: right;
	font-weight: 400;
	font-size: rem(16px);
	line-height: rem(24px);
	color: #000000;
}

.board-features__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
	align-items: flex-start;
	padding: 1.556rem 1.389rem 1.722rem 1.583rem;
}

.table {
	display: flex;
	width: 100%;
}

.table__item {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}
.table__item-icons {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.table__item-icon {
	display: flex;
	margin-bottom: 1.556rem;
}
.table__item-icon:last-child {
	margin-bottom: 0;
}
.table__item-features {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.table__item-value {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.prm-item {
	display: inline-flex;
	flex-direction: column;
}

.prm-name {
	font-weight: 400;
	font-size: rem(18px);
	line-height: rem(22px);
	color: #666666;
}

.prm-value {
	font-weight: 700;
	font-size: rem(18px);
	line-height: rem(22px);
	color: #000000;
}

.buy {
	display: inline-flex;
	margin-top: 1.333rem;
	justify-content: space-between;
}

.price {
	font-weight: 300;
	font-size: rem(60px);
	line-height: rem(60px);
	color: #151515;
}

.parameters {
	display: flex;
    justify-content: space-between;
}


.button--order {
	font-weight: 800;
	font-size: 0.889rem;
	line-height: 1rem;
	text-align: center;
	color: #000000;
	margin-top: 0;
  }