$containerWidth: 1100px;
$baseFontSize: 18px;

//colors
$yellow: #FEDB3F;
$greyBg: #F8FAF9;
$white: #FFFFFF;
$blackTitle: #292929;
$black: #000000;
$grey: #666666;

//breakpoints
$tablets: 768px;
$phones: 480px;

.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
    text-align: left;
  }
}

.benefits__item {
  flex: 1;
  margin: 0 3%;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    padding: 0;
    margin-bottom: 1.056rem;
    margin-right: 0;
    margin-left: 0;
  }
}

.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image {
  margin-bottom: 1.056rem;

  @include phones {
    margin-bottom: 0;
    margin-right: 1.111rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.111rem;
  height: 7.111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  padding: rem(32px);
}

.benefit__icon {
  width: 3.778rem;
  height: 3.778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: 700;
  font-size: rem(27px);
  line-height: rem(32px);
  color: $blackTitle;
  margin-bottom: rem(20px);
}

.benefit__desc {
  display: block;
}