$containerWidth: 1100px;
$baseFontSize: 18px;

//colors
$yellow: #FEDB3F;
$greyBg: #F8FAF9;
$white: #FFFFFF;
$blackTitle: #292929;
$black: #000000;
$grey: #666666;

//breakpoints
$tablets: 768px;
$phones: 480px;

@import "../styles/blocks/media.scss";

//normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "../styles/layout.scss";

//components
@import "../styles/blocks/base.scss";
@import "../styles/blocks/header.scss";
@import "../styles/blocks/welcome-page.scss";
@import "../styles/blocks/features.scss";
@import "../styles/blocks/why.scss";
@import "../styles/blocks/benefits.scss";
@import "../styles/blocks/reviews.scss";
@import "../styles/blocks/team.scss";
@import "../styles/blocks/menu.scss";
@import "../styles/blocks/products-slider.scss";
@import "../styles/blocks/team.scss";
@import "../styles/blocks/work.scss";
@import "../styles/blocks/form.scss";
@import "../styles/blocks/radio.scss";
@import "../styles/blocks/fixed-menu.scss";
@import "../styles/blocks/contacts.scss";
@import "../styles/blocks/footer.scss";
@import "../styles/blocks/hamburger.scss";
@import "../styles/blocks/player.scss";